[submodule "Enrollment/ts"]
	path = Enrollment/ts
	url = https://github.com/Mobius3-3/tb3-q3-prereq1
[submodule "Enrollment/rs"]
	path = Enrollment/rs
	url = https://github.com/Mobius3-3/tb3-q3-prereq2
[submodule "solana_starter"]
	path = solana_starter
	url = https://github.com/Mobius3-3/tb3-q3-solana_starter
[submodule "AMM/vault"]
	path = AMM/vault
	url = https://github.com/Mobius3-3/vault
